/* Reset some default styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url('light.gif') no-repeat center center fixed; Add your background GIF URL */
  background-size: cover;
  font-family: 'Arial', sans-serif;
  color: #f7f4f4; /* White text for better contrast against the dark background */
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  background: rgb(0, 0, 0); /* Semi-transparent black background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.mic-container {
  transition: transform 0.2s ease;
  margin-bottom: 20px;
}

.mic-container.listening {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

p {
  font-size: 1.2rem;
}

